[package]
name = "cni"
version = "0.1.0"
edition = "2021"
publish = false
build = "../build.rs"

[lib]
path = "../packages.rs"

[package.metadata.build-package]
releases-url = "https://github.com/containernetworking/cni/releases"

[[package.metadata.build-package.external-files]]
url = "https://github.com/containernetworking/cni/archive/v1.2.3/cni-1.2.3.tar.gz"
sha512 = "7df2a2d01b85ace4e73ea577017e7c98a5d3b86373da5cf9e4ec7f50a1439753ed447c8f7fc871876c624336d91848fd42f309481bffbccc388377dbfad2e133"
bundle-modules = [ "go" ]

# RPM BuildRequires
[build-dependencies]
glibc = { path = "../glibc" }

# RPM Requires
[dependencies]
# `iptables` is only needed at runtime, and is pulled in by `release`.
# iptables = { path = "../iptables" }
