[Match]
Name=eno1
[Link]
RequiredForOnline=true
[Network]
DHCP=ipv4
IPv6AcceptRA=false
LinkLocalAddressing=ipv4
KeepConfiguration=dhcp
[DHCPv4]
UseMTU=true
