[Match]
Name=eno22
[Link]
RequiredForOnline=true
RequiredFamilyForOnline=ipv4
[Network]
DHCP=ipv4
IPv6AcceptRA=false
LinkLocalAddressing=ipv4
KeepConfiguration=dhcp
[DHCPv4]
UseMTU=true
